# Module 6 Exercises - Correlation and Models

### Exercise 1:

From the datasets folder, load the "tamiami.csv" file as a dataframe. Rename the columns (in order) to the following:

- location
- sales
- employees
- restaurants
- foodcarts
- price

Then do a correlation table on that dataframe. What features (columns) are correlated? What features aren't correlated?

In [1]:
import pandas as pd
import numpy as np

In [5]:
Location = "datasets/tamiami.csv"
df = pd.read_csv(Location)
df.head()
df.rename(columns={'Cart Location':'location','Hot Dog Sales':'Sales','Employees in Nearby Office Buildings':'employees',
                   'Num of Nearby Restaurants':'restaurants','Num of Other Food Carts Nearby':'foodcarts',
                   'Price':'price'},inplace=True)
df.head()

   location  Sales  employees  restaurants  foodcarts  price
0         1    100       1600            8         12   4.16
1         2     80       1200            6         13   4.63
2         3    450       2800           19          6   0.50
3         4    580       4300           19          2   0.47
4         5    100       1400            6         13   4.24

### Exercise 2:

Using the dataframe from the previous exercise, choose features (columns) to create a linear regression formula to predict sales. Try it with and without the y-intercept. How does it make a difference? Does adding or removing features in your model formula make a difference in the output?