# Module 7 Exercises - Linear Regression

### Exercise 1:

Using the pandas library, in the datasets folder load the gradedata.csv file as a dataframe. Narrow your data (make the dataframe smaller) by choosing columns that you think can help predict student grades. Use any method that you've learned so far to help your decision on which columns to keep.

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn #library for predictive modeling

%matplotlib inline

from sklearn.linear_model import LinearRegression

In [33]:
location = "datasets/gradedata.csv"
df = pd.read_csv(location)
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [16]:
#use correlation to decide which columns to keep
df.corr()

               age  exercise     hours     grade
age       1.000000 -0.003643 -0.017467 -0.007580
exercise -0.003643  1.000000  0.021105  0.161286
hours    -0.017467  0.021105  1.000000  0.801955
grade    -0.007580  0.161286  0.801955  1.000000

In [34]:
#grade is most positively correlated to hours (and a little bit exercise), so keep those columns

df1 = df.drop(['age','fname','lname','gender','address'],axis=1)
df1.head()

#practice turning gender column into 0 or 1 depending on male/female

   exercise  hours  grade
0         3     10   82.4
1         4      4   78.2
2         5      9   79.3
3         2      7   83.2
4         4     15   87.4

In [35]:
newdf = df.drop(['fname','lname','address'],axis=1)
newdf.head()

   gender  age  exercise  hours  grade
0  female   17         3     10   82.4
1    male   18         4      4   78.2
2    male   18         5      9   79.3
3  female   14         2      7   83.2
4  female   18         4     15   87.4

In [36]:
def convertGender(gender):
    if gender == 'female':
        return 0
    if gender =='male':
        return 1

In [37]:
newdf['gender'] = newdf['gender'].apply(convertGender)
newdf.head()

   gender  age  exercise  hours  grade
0       0   17         3     10   82.4
1       1   18         4      4   78.2
2       1   18         5      9   79.3
3       0   14         2      7   83.2
4       0   18         4     15   87.4

In [38]:
#make sure that there is no missing data
newdf.count()

gender      2000
age         2000
exercise    2000
hours       2000
grade       2000
dtype: int64

### Exercise 2:

Using the dataframe in the exercise above, clean and prepare your data. This means to eliminate any null (missing) values (either by dropping or filling them) and to transform any data column types to numerical values that a model can interpret. For example, if the column has string values, convert them to integers that best represent their order.

In [41]:
import sklearn
from sklearn.model_selection import train_test_split #saves time later

In [21]:
df_clean = newdf.dropna(axis=0, how='all')
#didn't need to do this, no null data

### Exercise 3:

Using the cleaned dataframe in the exercise above, use the sklearn library to split the data into training and test datasets. Make the test size 30%.

In [43]:
X = newdf.drop('grade',axis = 1)
Y = newdf['grade'] # I defined the Y within the function below by using df_clean.grade, but I can also define it separately and assign it to Y variable

#X_train, X_test, Y_train, Y_test = sklearn.model_selection.train_test_split(X, df_clean.grade, test_size=0.30, random_state = 5)

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.3, random_state = 20)

In [44]:
print(X_train.shape)
print(Y_train.shape)

(1400, 4)
(1400,)

In [ ]:
lm = LinearRegression()
lm

### Exercise 4:

Using the training data from the previous exercise, set a linear regression function to fit the data (build the model).

In [45]:
#lm.fit(X,df_clean['grade'])
lm.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

### Exercise 5:

What is the intercept coefficient (y-intercept) for the linear regression model?

In [46]:
print('Estimated Intercept Coefficient: ',lm.intercept_)

Estimated Intercept Coefficient:  58.5475396234

In [50]:
print(lm.intercept_)

58.5475396234

### Exercise 6:

Use the predict function on the training data and the test data.

In [48]:
lm.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [47]:
predict_train = lm.predict(X_train)
predict_test = lm.predict(X_test)

### Exercise 7:

Calculate the MSE (mean squared error) of the training and test predictions. How "good" was the linear regression model at predicting the test data compared to the training data?

In [49]:
print(lm.score(X_train,Y_train))
print(lm.score(X_test,Y_test))

0.668475228175
0.654434025716

In [ ]:
#performs consistently between training and testing sets, if not very well